<% content_for :title, "Sign in | The Wall" %>

<div>
    <h1>Welcome to "The Wall"!</h1>
    <p>Sign in to your account</p>
    
    <% if flash[:error] %>
        <% for i in 0..flash[:error].length() %>
        <p><%= flash[:error][i] %></p>
        <% end %>
    <% elsif flash[:message] %>
        <p><%= flash[:message] %></p>
    <% end %>

    <form action="/users/validate_login" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div>
            <label>
                Email:
                <input type="email" name="user[email]" placeholder="Enter your email">
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="password" name="user[password]" placeholder="Enter your password">
            </label>
        </div>

        <input type="submit" value="Sign in">
        <a href="/register">Don't have an account?</a>
    </form>
</div>